


I'm building a next js. app It's a landing page website. 

* Shadcn are going to be used for the components
* Tailwind for the styling
* Next js for the framework
* TypeScript for the language
* Vercel for the hosting
* Shadcn are going to be used for the components
